.chatpanelstack {
    width: 100%;
    height: 90vh;
    background-color: white;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-columns: 1fr 200px;
    grid-template-areas: "chatname chatuserspanel" "divider1 chatuserspanel" "chatpanel chatuserspanel" "divider2 chatuserspanel" "userpanel chatuserspanel"
}

.chatuserpanel {
    width: 100%;
    grid-area: userpanel;
    padding-left: 20px;
}   


@media (max-width: 900px) {
    .chatpanelstack {
        width: 100%;
        height: 90vh;
        background-color: white;
        grid-template-rows: auto auto 1fr auto auto;
        grid-template-columns: 1fr 200px;
        grid-template-areas: "chatname chatname" "divider1 divider1" "chatpanel chatpanel" "divider2 divider2" "userpanel userpanel"
    }
      }