.addgroupbutton {
    cursor: pointer;
    align-self: center;
    justify-self: center;
    padding: 5px;
}

.logouticon {
    cursor: pointer;
    align-self: center;
    justify-self: center;
    padding: 5px;

}